div.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 228, 231);
  padding: 15px;
  position: relative;
  width: 25%;
  height: 500px;
  border-radius: 0.4em;
  opacity: 0.8;
}

div.internalBox {
  overflow-y: scroll;
  flex-grow: 1;
}

div.textInput {
  bottom: 1px;
  width: 95%;
  border-radius: 0.4em;
}

textarea {
  border-color: none !important;
  border-image: none !important;
  border-radius: none !important;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: 0.4em;
  margin-bottom: 1em;
}

.speech-bubble-answer {
  position: relative;
  background: #2cbb00;
  border-radius: 0.4em;
  margin-bottom: 1em;
}

.speech-bubble-result {
  position: relative;
  background: #00aabb;
  border-radius: 0.4em;
  margin-bottom: 1em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -12px;
  margin-bottom: -16px;
}

.speech-bubble-answer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #2cbb00;
  border-bottom: 0;
  border-left: 0;
  margin-left: -12px;
  margin-bottom: -16px;
}

.speech-bubble-result:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -12px;
  margin-bottom: -16px;
}

.bubble-text {
  justify-content: left;
  font-size: 20px;
  padding: 15px;
}

.bubble-text-chat {
  justify-content: left;
  font-size: 14px;
  padding: 10px;
}

#mdiv {
  width: 1px;
  height: 25px;
  background-color: rgb(223, 228, 231);
  border-radius: 0.3em;
  margin: 5px;
  position: relative;
  width: 25px;
  border: 3px solid #73ad21;
}

.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}

.closeContainer {
  display: flex;
  justify-content: space-between;
  border-style: groove;
  border-radius: 0.4em;
  margin-bottom: 10px;
  border-color: green;
}

.NutriBotTitle {
  color: green;
  text-align: left;
  padding: 5px;
  font-weight: bold;
}
